In [1]:
from pyspark.sql import SparkSession as ss

In [2]:
db_name = 'spark_demo'
spark = ss.builder \
   .appName('demo') \
   .enableHiveSupport() \
   .getOrCreate()
spark.catalog.setCurrentDatabase(db_name)
spark.sql('set spark.sql.sources.partitionOverwriteMode=dynamic')

DataFrame[key: string, value: string]

In [3]:
df = spark.read \
    .format('csv') \
    .option('header', 'true') \
    .option('delimiter', ',') \
    .option('inferSchema', 'true') \
    .load('input/BreadBasket_DMS.csv')

In [4]:
df.show()

+----------+--------+-----------+-------------+
|      Date|    Time|Transaction|         Item|
+----------+--------+-----------+-------------+
|2016-10-30|09:58:11|          1|        Bread|
|2016-10-30|10:05:34|          2| Scandinavian|
|2016-10-30|10:05:34|          2| Scandinavian|
|2016-10-30|10:07:57|          3|Hot chocolate|
|2016-10-30|10:07:57|          3|          Jam|
|2016-10-30|10:07:57|          3|      Cookies|
|2016-10-30|10:08:41|          4|       Muffin|
|2016-10-30|10:13:03|          5|       Coffee|
|2016-10-30|10:13:03|          5|       Pastry|
|2016-10-30|10:13:03|          5|        Bread|
|2016-10-30|10:16:55|          6|    Medialuna|
|2016-10-30|10:16:55|          6|       Pastry|
|2016-10-30|10:16:55|          6|       Muffin|
|2016-10-30|10:19:12|          7|    Medialuna|
|2016-10-30|10:19:12|          7|       Pastry|
|2016-10-30|10:19:12|          7|       Coffee|
|2016-10-30|10:19:12|          7|          Tea|
|2016-10-30|10:20:51|          8|       Pastry|
|2016-10-30|10:20:51|          8|        Bread|
|2016-10-30|10:21:59|          9|        Bread|
+----------+--------+-----------+-------------+
only showing top 20 rows

In [5]:
table_name = 'bakery_transactions'
output_path = "file:/home/<username>/work/output/bakery_transactions"
df.write.mode("overwrite").saveAsTable(table_name, path=output_path)

In [6]:
df2 = spark.sql('''
    SELECT * FROM spark_demo.bakery_transactions
''')
df2.show()

+----------+--------+-----------+-------------+
|      Date|    Time|Transaction|         Item|
+----------+--------+-----------+-------------+
|2016-10-30|09:58:11|          1|        Bread|
|2016-10-30|10:05:34|          2| Scandinavian|
|2016-10-30|10:05:34|          2| Scandinavian|
|2016-10-30|10:07:57|          3|Hot chocolate|
|2016-10-30|10:07:57|          3|          Jam|
|2016-10-30|10:07:57|          3|      Cookies|
|2016-10-30|10:08:41|          4|       Muffin|
|2016-10-30|10:13:03|          5|       Coffee|
|2016-10-30|10:13:03|          5|       Pastry|
|2016-10-30|10:13:03|          5|        Bread|
|2016-10-30|10:16:55|          6|    Medialuna|
|2016-10-30|10:16:55|          6|       Pastry|
|2016-10-30|10:16:55|          6|       Muffin|
|2016-10-30|10:19:12|          7|    Medialuna|
|2016-10-30|10:19:12|          7|       Pastry|
|2016-10-30|10:19:12|          7|       Coffee|
|2016-10-30|10:19:12|          7|          Tea|
|2016-10-30|10:20:51|          8|       Pastry|
|2016-10-30|10:20:51|          8|        Bread|
|2016-10-30|10:21:59|          9|        Bread|
+----------+--------+-----------+-------------+
only showing top 20 rows

In [7]:
df3 = spark.sql('''
    SELECT * FROM spark_demo.bread
''')
df3.show()

+----------+--------+-----------+-----+
|      Date|    Time|Transaction| Item|
+----------+--------+-----------+-----+
|2016-10-30|09:58:11|          1|Bread|
|2016-10-30|10:13:03|          5|Bread|
|2016-10-30|10:20:51|          8|Bread|
|2016-10-30|10:21:59|          9|Bread|
|2016-10-30|10:27:21|         11|Bread|
|2016-10-30|10:27:21|         11|Bread|
|2016-10-30|10:31:24|         13|Bread|
|2016-10-30|10:32:46|         14|Bread|
|2016-10-30|10:37:08|         16|Bread|
|2016-10-30|10:43:08|         19|Bread|
|2016-10-30|10:45:22|         20|Bread|
|2016-10-30|10:49:29|         21|Bread|
|2016-10-30|10:54:33|         24|Bread|
|2016-10-30|11:03:24|         28|Bread|
|2016-10-30|11:05:30|         29|Bread|
|2016-10-30|11:07:19|         30|Bread|
|2016-10-30|11:33:08|         36|Bread|
|2016-10-30|11:37:10|         37|Bread|
|2016-10-30|11:42:40|         38|Bread|
|2016-10-30|11:57:45|         42|Bread|
+----------+--------+-----------+-----+
only showing top 20 rows